# Built files
/build
**/build/

# Local config
local.properties

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Kotlin
*.class

# Firebase
google-services.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# NDK
.externalNativeBuild/
.cxx/

# Lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Misc
captures/
.externalNativeBuild
/.idea/
